*.elc
opam-user-setup.el
elpa/**
elpaca/**
debug-adapters/**
site-lisp/**/*
eln-cache/
straight/
Configure.el
ac-comphist.dat
auto-save-list/
backups/
history
org-persist/
places
projectile-bookmarks.eld
recentf
skeleton/
transient/
url/
.DS_Store
